<html>
	<head>
		
	</head>

	<body>
		<div id="chat"></div>
		<input id="chat-input" type="text">
		<button id="btn_1">Send Message</button>
		<button id="btn_2">Connect</button>
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js" integrity="sha512-aC5ZfKOuGRUiJCv+E/EIWsj49E02BQpuLQbixZe+16Lm1R6AepHZA1xvY92XBQNNbwQoqG4DXCGxwoxBFb5Q1A==" crossorigin="anonymous"></script>
		<script>
		$(document).ready(() => {

		
			let socket = io({autoConnect: false, reconnectionDelayMax: 100});

			var btn_2 = document.getElementById('btn_2');
			btn_2.onclick = ()=>{
				socket.connect();
			}

			var btn_1 = document.getElementById('btn_1');
			btn_1.onclick = ()=>{
				sendMessage();
			}

			socket.on("connect",()=>{
				console.log("Connected");
			})

			function sendMessage () {
				console.log('sending message');
				socket.emit("data",document.getElementById("chat-input").value);
			}
			
			socket.on("data",(data)=>{
				console.log('recieve message');
				document.getElementById("chat").innerHTML+="<br>"+data;
			})

		});
		</script>
	</body>
</html>